html, body {
    font: 12pt Roboto,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    color: #619ce5;
}

.item {
    overflow: auto;  /* clearfix */
    -webkit-box-shadow: 0px 6px 12px -6px #777;
    -moz-box-shadow: 0px 6px 12px -6px #777;
    box-shadow: 0px 6px 12px -6px #777;
}

.item_block {
    float: left;
    width: 75px;
    color: #619ce5;
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
}

.item_title {
    margin-top: 7px;
    font-size: 13pt;
    word-wrap: break-word;
}

.header .item_title {
    font-weight: bold;
    font-size: 14pt;
}

img {
    display: block; /* get rid of space below image */
}
.item_details {
    margin-left: 85px;
}
.item_plain {
    font-size: 9pt;
}
.item_suppressed {
    color: darkgray;
    font-size: 9pt;
}
.item_emphasized {
    font-size: 9pt;
    font-weight: bold;
}
.item_date {
    margin-top: 7px;
    margin-bottom: 7px;
}

