html, body {
    font: 12pt "Roboto",sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    overflow: hidden;
}

.material {
    -webkit-box-shadow: 0px 3px 6px 0px #777;
    -moz-box-shadow: 0px 3px 6px 0px #777;
    box-shadow: 0px 3px 6px 0px #777;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.header {
    background-color: #e51c23;
    color: white;
}

.header-close {
    display: inline-block;
    height: 56px;
    width: 56px;
    position: absolute;
    left: 0px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('../images/icon-close-white.png');
    cursor: pointer;
}

.header-menu {
    display: inline-block;
    height: 56px;
    width: 56px;
    position: absolute;
    right: 0px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('../images/icon-menu-white.png');
    cursor: pointer;
}

#header-menu-items {
   width: 158px;
   position: relative;
   top: 16px;
   right: 172px;
   background-color: white;
   color: black;
   padding: 8px 0px 8px 16px;
}

.header-menu-item {
    font-size: 14pt;
    line-height: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.header-details {
    padding-top: 70px;  /* = 56px + 14px */
    padding-left: 72px;
    padding-bottom: 14px;
    padding-right: 16px;
}

.header-title {
    line-height: 20px;
    font-size: 14pt;
    font-weight: 700;
}

.header-suppressed {
    line-height: 18px;
    font-size: 12pt;
    font-weight: 400;
}

.header-suppressed-brackets {
    display: inline;
}

.item {
    cursor: pointer;
}

.item-start {
    display: inline-block;
    padding-top: 8px;
    width: 72px;
    position: absolute;
    left: 0px;
}

.item-start-month, .item-start-weekday, .item-start-end-time-start, .item-start-end-time-dash, .item-start-end-time-end {
    color: #9e9e9e;
    text-align: center;
    line-height: 18px;
    font-size: 12pt;
    font-weight: 400;
}

.item-start-end-time-start, .item-start-end-time-dash, .item-start-end-time-end {
    line-height: 12px;
    color: #e51c23;
}

.item-start-end-time-start {
    margin-top: 16px;
}

.item-start-day {
    color: #e51c23;
    text-align: center;
    line-height: 20px;
    font-size: 14pt;
    font-weight: 700;
}

.item-details {
    margin-left: 72px;
    padding-top: 26px; /* = 8px + 18px */
    padding-right: 16px;
    border-bottom: 1pt solid #e0e0e0;
    padding-bottom: 26px;
}

.item-details-card {
    min-height: 216px; /* to accomodate for .item-start height */
    margin-left: 72px;
    padding-top: 26px;
    padding-right: 16px;
    padding-bottom: 8px;
}

.item-start-time {
    display: inline;
    color: #e51c23;
    line-height: 18px;
    font-size: 12pt;
    font-weight: 400;
}

.item-title {
    display: inline;
    line-height: 18px;
    font-size: 14pt;
    font-weight: 400;
}

.item-title-card {
    line-height: 18px;
    font-size: 14pt;
    font-weight: 700;
}

.item-description {
    margin-top: 32px;
    margin-bottom: 32px;
}

.item-contact {
    margin-bottom: 32px;
}

.hidden {
    display: none;
}

