html, body {
    font: 12pt Roboto,Arial,sans-serif;
    height : 100%;
    margin: 0;
    padding: 0;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#map-canvas {
    height: 100%;
}

.content {
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 12px 0px #777;
    -moz-box-shadow: 0px 0px 12px 0px #777;
    box-shadow: 0px 0px 12px 0px #777;
     -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

#filter-controls {
    margin: 15px;
    background-color: white;
}
#filter-controls h1 {
    font: 12pt Roboto,Arial,sans-serif;
    padding: 3px 5px;
    margin: 0;
}
#filter-controls span {
    color: #619ce5;
    padding: 3px 5px;
}
#filter-controls .active {
    background-color: #619ce5;
    color: white;
}

@media (max-width: 640px) {
    #iframe {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: white;
        display: none; /* default */
        z-index: 2;
    }
    #iframe iframe {
        border: 0px;
        height: 100%;
        width: 100%;
    }
    #tools {
        display: none;
    }
}
@media (min-width: 640px) {
    #iframe {
        width: 300px;
        height: 500px; /* default */
        margin: 15px;
        border: 3px solid white;
        background-color: white;
        display: none; /* default */
    }
    #iframe iframe {
        border: 0px;
        height: 100%;
        width: 100%;
    }
    #tools {
        position: fixed;
        right: 30px;
        bottom: 15px;
    }
    #tools img {
        border-style: none;
    }
}

