html, body {
    font: 12pt Roboto,sans-serif;
    font-weight: 400;
    padding: 0;
    width: 210mm;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
}

td {
    width: 50%;
    vertical-align: top;
}

.item_title {
    color: darkorange;
    font-size: 14pt;
    font-weight: 500;
}

.item_date {
    font-size: 14pt;
}

.item_suppressed {
    color: darkgray;
    font-size: 14pt;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

#qr {
    position: relative;
}

.text-in-qr {
    position: absolute;
    padding: 0px;
    margin: 0px;
    background-color: white;
    z-index: 1;
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    color: darkorange;
}
