body {
  border-bottom: 1px solid #5c5c5c;
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-align: center;
  text-decoration: none;
}
.branding {
  background-color: #ff7300;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.top-button {
  margin-right: 9px;
  margin-bottom: 9px;
  border-radius: 3px;
  background-color: #dbdbdb;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.top-button.main-button {
  background-color: #f52222;
  color: white;
}
.section {
  padding: 12px 24px;
  border-bottom: 1px solid #ccc;
}
.tot-en-met {
  line-height: 39px;
  text-align: center;
}
.modal {
  background-color: #e8e8e8;
}
.map {
  height: 200px;
}
.stops {
  display: inline-block;
  width: 68px;
  float: none;
}
.input-number {
  display: inline-block;
  width: 65px;
  height: 21px;
  margin-bottom: 0px;
  padding: 0px 6px;
  font-size: 14px;
}
.repetitions {
  display: inline-block;
}
.after {
  display: inline-block;
}
.inline {
  display: inline-block;
}
.inline.margin-right {
  margin-right: 18px;
}
.input-date {
  display: inline-block;
  width: 100px;
  height: 21px;
  padding: 0px 6px;
}
.input-text {
  display: inline-block;
  width: 100px;
  height: 21px;
  margin-bottom: 0px;
  padding: 0px 6px;
}
.hidden {
  display: none;
}
.ributtons {
  margin-top: 10px;
}
#gmaps-canvas {
  height: 200px;
}
.error {
  background-color: pink;
}
.message-text {
  color: #f52222;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .column {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 479px) {
  .section {
    padding: 12px 6px;
  }
  .w-col {
    padding-left: 0px;
    padding-right: 0px;
  }
}