<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{{configuration['title']}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/map.css"/>
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,latin-ext'>
</head>

<body>

<div class="top-left action-buttons">
    <a id="timeframe-button" class="action-button timeframe all" href="javascript:void(0);"></a>
    {% if configuration['tags'] %}
    <a id="tags-button" class="action-button tags white" href="javascript:void(0);"></a>
    {% endif %}
    <a id="hash-button" class="action-button action-button-hash-white" href="javascript:void(0);"></a>
</div>

<div id="timeframe-menu" class="top-left material menu">
    <a id="all" class="menu-item menu-item-all" href="javascript:void(0);">
      <div class="menu-icon">&nbsp;</div>
      <div class="menu-text">{{localization['all']}}</div>
    </a>
    <a id="now" class="menu-item menu-item-now" href="javascript:void(0);">
      <div class="menu-icon">&nbsp;</div>
      <div class="menu-text">{{localization['now']}}</div>
    </a>
    <a id="today" class="menu-item menu-item-today" href="javascript:void(0);">
      <div class="menu-icon">{{day_of_today}}</div>
      <div class="menu-text">{{localization['today']}}</div>
    </a>
    <a id="tomorrow" class="menu-item menu-item-tomorrow" href="javascript:void(0);">
      <div class="menu-icon">{{day_of_tomorrow}}</div>
      <div class="menu-text">{{localization['tomorrow']}}</div>
    </a>
    <a id="week" class="menu-item menu-item-week" href="javascript:void(0);">
      <div class="menu-icon">&nbsp;</div>
      <div class="menu-text">{{localization['week']}}</div>
    </a>
</div>

{% if configuration['tags'] %}
<div id="tags-menu" class="top-left material menu">
    <a id="all-tags" class="menu-item tags white menu-item-label" href="javascript:void(0);">
      <div class="menu-icon">&nbsp;</div>
      <div class="menu-text">{{localization['all']}}</div>
    </a>
    {% for tag in configuration['tags'].split(',') %}
    <a id="{{slugify(tag)}}" class="menu-item tags {{tag_colors[slugify(tag)]}}" href="javascript:void(0);">
      <div class="menu-icon">&nbsp;</div>
      <div class="menu-text">{{tag}}</div>
    </a>
    {% endfor %}
</div>
{% endif %}

<div id="hash-menu" class="top-left material search-field">
    <input class="search-input" id="search" type="text" placeholder="{{localization['search-a-hashtag']}}" name="search" autofocus="autofocus" data-name="search">
    <a class="search-reset-button" href="javascript:void(0);"></a>
    <a class="search-button" href="javascript:void(0);"></a>
</div>
<div class="top-left material search-field-smart-results">
    <!--a class="search-field-smart-result" href="javascript:void(0);">smart result</a-->
</div>

<div id="iframe" class="top-left material"></div>

<div id="background">
    <div id="map-canvas"></div>
</div>

<div id="tools">
    <div id="add">
        <a href="" target="_blank">
            <img src="/images/add.png"/>
        </a>
    </div>
    <div id="modify">
        <a href="" target="_blank">
            <img src="/images/modify.png"/>
        </a>
    </div>
    <div id="qr">
        <a href="" target="_blank">
            <img src="/images/qr.png"/>
        </a>
    </div>
</div>
<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyCVWDsEisWMiWrfjIv_9UEqovwpwLQ0P50&language={{configuration['language']}}"></script>
<script type="text/javascript" src="/scripts/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    var tableId = '{{configuration["slave table"]}}';
    var limit = parseInt('{{limit}}');
    var tag_colors = eval('({{tag_colors_json | safe}})');
</script>
<script type="text/javascript" src="/scripts/map.js"></script>
</body>
</html>
