<!DOCTYPE html>
<html manifest="/status.appcache">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{{data[0]['location name']}}</title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="/stylesheets/qr.css"/>
</head>

<body>
    <table>
        <tr>
            <td>
                <div id="qr"></div>
                <div class="item_title">{{data[0]['location name']}}</div>
                <div class="item_suppressed">{{data[0]['address']}}</div>
            </td>
            <td>
                {% if not no_results_message %}
                {% for row in data %}
                <div class="item">
                    <div class="item_title">{{row['event name']}}</div>
                    <div class="item_suppressed">{{row['organization']}}</div>
                    <div class="item_date">
                        <span>{{date_time_reformat(row['start'], format='EE d/M', lang='nl')}}</span>
                        <span> </span>
                        <span>{{date_time_reformat(row['start'], format='H:mm', lang='nl')}}</span>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="/scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/scripts/qrcode.js"></script>
    <script type="text/javascript" src="/scripts/jquery.qrcode.js"></script>
    <script type="text/javascript">
    var size = 400;
    $('#qr').qrcode({
        render	: "div",
        text	: "{{url}}",
        size    : size,
        fill    : 'black',
        ecLevel : "M"
    });
    $('#qr').children('div').first().children('div').addClass('module');
    $('<img/>')
        .attr('src','/images/black.png')
        .appendTo('.module');
    var top_left_module =  $('.module').first();
    var module_size = parseInt(top_left_module.css('width'),10);
    var offset = parseInt(top_left_module.css('left'),10);
    $('#qr').css('top', -offset + 'px').css('left', -offset + 'px');  // align qrcode to left and right div edges
    var number_of_modules = Math.floor((size - 2 * offset) / module_size);
    var char_size_in_modules = Math.floor(size / 20 / module_size) + 1;
    var font_size = char_size_in_modules * module_size;
    var x = offset + Math.floor(number_of_modules / 2) * module_size;
    var y = offset;
    var text = "{{configuration['qr code string']}}".toUpperCase();

    for (i=0; i<text.length; i++) {
        $('<div/>')
            .css('width', char_size_in_modules * module_size + 'px')
            .css('height', char_size_in_modules * module_size + 'px')
            .css('left', (offset + i * char_size_in_modules * module_size) + 'px')
            .css('top', (offset + Math.floor(number_of_modules / 2) * module_size) + 'px')
            .css('font-size', font_size + 'px')
            .css('line-height', font_size + 'px')
            .text(text[i])
            .addClass('text-in-qr')
            .appendTo('#qr');
    }
    </script>
</body>
</html>
