<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{{data[0].location_name}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/qr.css"/>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,latin-ext'>
</head>

<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5F6KKN"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5F6KKN');</script>
    <!-- End Google Tag Manager -->
    <table>
        <tr>
            <td>
                <div class="item_title">{{location_name}}</div>
                <div class="item_suppressed">{{address}}</div>
                <div id="qr"></div>
            </td>
            <td>
                {% if not no_results_message %}
                {% for row in data[:8] %}
                <div class="item">
                    <div class="item_date">
                        <span>{{date_time_reformat(row['start_local'], format='EE d/M', lang=map.language)}}</span>
                        <span> </span>
                        <span>{{date_time_reformat(row['start_local'], format='H:mm', lang=map.language)}}</span>
                    </div>
                    <div class="item_title">{{row['event_name']}}</div>
                </div>
                {% endfor %}
                <div id="more-items" class="hidden">
                    {% for row in data[8:] %}
                    <div class="item">
                        <div class="item_date">
                            <span>{{date_time_reformat(row['start_local'], format='EE d/M', lang=map.language)}}</span>
                            <span> </span>
                            <span>{{date_time_reformat(row['start_local'], format='H:mm', lang=map.language)}}</span>
                        </div>
                        <div class="item_title">{{row['event_name']}}</div>
                    </div>
                    {% endfor %}
                </div>
                {% if data[8:] %}
                <div id="more-items-button" class="item item-details" onclick="document.getElementById('more-items').className = ''; document.getElementById('more-items-button').className = 'hidden';">
                    {{localization['more-results']}}
                </div>
                {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="/scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/scripts/qrcode.js"></script>
    <script type="text/javascript" src="/scripts/jquery.qrcode.js"></script>
    <script type="text/javascript">
    var size = 400;
    $('#qr').qrcode({
        render	: "div",
        text	: "{{url}}",
        size    : size,
        fill    : 'black',
        ecLevel : "M"
    });
    $('#qr').children('div').first().children('div').addClass('module');
    $('<img/>')
        .attr('src','/images/black.png')
        .appendTo('.module');
    var top_left_module =  $('.module').first();
    var module_size = parseInt(top_left_module.css('width'),10);
    var offset = parseInt(top_left_module.css('left'),10);
    $('#qr').css('left', -offset + 'px');  // align qrcode to left and right div edges
    var number_of_modules = Math.floor((size - 2 * offset) / module_size);
    var char_size_in_modules = Math.floor(size / 20 / module_size) + 1;
    var font_size = char_size_in_modules * module_size;
    var x = offset + Math.floor(number_of_modules / 2) * module_size;
    var y = offset;
    var text = "{{map.qr_code_string}}".toUpperCase();

    for (i=0; i<text.length; i++) {
        $('<div/>')
            .css('width', char_size_in_modules * module_size + 'px')
            .css('height', char_size_in_modules * module_size + 'px')
            .css('left', (offset + i * char_size_in_modules * module_size) + 'px')
            .css('top', (offset + Math.floor(number_of_modules / 2) * module_size) + 'px')
            .css('font-size', font_size + 'px')
            .css('line-height', font_size + 'px')
            .text(text[i])
            .addClass('text-in-qr')
            .appendTo('#qr');
    }
    </script>
</body>
</html>
